# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*
*.pem
qwen_client.py

# Editors
.vscode/
.idea/

# Caches
cache/
/tmp/
*.log

# Build
build/
dist/
Dockerfile.vllm

# OS
.DS_Store
Thumbs.db
